@import "tailwindcss";
 @keyframes blink {
  0%,50%,100% {opacity: 1;}
  25%, 75% {opacity: 0;}  
 }
 .blink{
  animation: blink 5s ease-in-out 1 ;
  width: 350px;
  height: auto;
 }

 .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(1, 6, 32);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
 }